# Python/Django
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
.DS_Store

# Virtual env
.venv/
venv/

# Django
db.sqlite3
staticfiles/
!staticfiles/.gitkeep
media/

# IDEs
.vscode/
.idea/

# Secrets
.env
example.json
